spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/donivpn
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    locations: classpath:db/migration
server:
  port: 8080

telegram:
  bot:
    username: doniVpnBot
    password: doniVpnBot
    token: tokenValue

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

api:
  base-url: qpiurl
